<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Here's what they said:</h1>
    <h1><%= @message.body %></h1>
  </body>
</html>

