<h1>StormSurge</h1>
<%= image_tag 'rails.png' %>
<h2>Features:</h2>
<ul id="featured">
    <li>
      <div>
        <h1>An emergency lifesaver</h1>
        <p>
          StormSurge saves you from being caught with a dead phone battery during an emergency.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h1>Features...</h1>
        <p>
          StormSurge saves you from being caught with a dead phone battery during an emergency.
        </p>
      </div>
    </li>
    <li>
      <div>
        <h1>Team...</h1>
        <p>
          StormSurge saves you from being caught with a dead phone battery during an emergency.
        </p>
      </div>
    </li>
</ul>